* {
    font-family: 'Roboto Flex', sans-serif;
    box-sizing : border-box;
}

html, body {
    margin: 0;
}

body {
    font-size: 16px;
}

.app__inner {
    // margin: 20px;
}

.fz-sm {
    font-size: 14px;
}