* {
    font-family: 'Roboto Flex', sans-serif;
    box-sizing : border-box;


    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

html,
body,
p,
h1,
h2,
h3 {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 600;
}

body {
    font-size: 16px;
}

.fz-sm {
    font-size: 13px;
}

.ta-center {
    text-align: center;
}

.app-button {
    background: $button-background;
    padding   : 8px 48px;
    font-size : 16px;
    border    : 2px solid $color-violet;

    &:hover {
        cursor : pointer;
        opacity: 0.85;
    }
}