$app-bg           : #ebebeb;
$button-background: deepskyblue;
$color-violet     : darkviolet;
$color-danger     : red;

.color-danger {
    color: $color-danger;
}

.color-violet {
    color: $color-violet;
}